

#Home{
    @include flexBox(column, space-evenly, flex-start);
    width: 100%;
    padding-top: 6vh;

    .banner{
        width: 100%;
        height: 90vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-color: $third-color;
        background-position: center center;
        background-image: url('../images/banner.jpg');
        
        .content{
            @include flexBox(row, flex-start, center);
            width: 100%;
            height: 42.5vh;
            color: rgb(255, 255, 255);
            padding: 30px;
            padding-left: 80px;
            backdrop-filter: brightness(50%); 
            font-weight: 500;
            

            .tittle{
                @include flexBox(column, space-evenly, flex-start);
                height: 100%;
                width: 55%;
                
            }

            img{
                width: 20%;
                margin-left: 20%;
            }

            h1{
                font-size: 4rem;
                font-weight: 400;
            }

            span{
                font-size: 2rem;
            }

            .subtittle{
                width: 300px;
            }

            .message{
                font-size: 1.6rem;
                margin-bottom: 50px;
            }

            .genericbutton{
                background-color: $primary-color;
                width: 300px;
            
                &:hover{
                    background-color: $second-color;
                    color: rgb(192, 192, 192);
                }
            
                &:disabled{
                    color: rgba(51, 51, 51, 0.4);
                    background-color: rgb(234, 243, 236);
                    cursor: not-allowed;
                }
            }
        }
    }

    .content-cards{
        @include flexBox(column, space-evenly, flex-start);
        width: 100%;
        height: 100%;

        .content-message{
            @include flexBox(column, space-evenly, flex-start);
            width: 100%;
            height: 35vh;
            padding: 0px 80px 0 80px;
            color: #fff;
        }

        h1{
            font-weight: 500;
        }

        h2{
            font-weight: 400;
        }
        

        span{
            max-width: 100%;
            margin-top: 30px;
        }

        .cards{
            @include flexBox(column, flex-start, flex-start);
            width: 100%;
            padding-left: 80px;
            padding-top: 30px;
            background-color: $third-color;
            color: rgb(255, 255, 255);

            .container{
                @include flexBox(row, space-evenly, center);
                width: 100%;
                height: 100%;
                padding-right: 5%;
                margin-bottom: 30px !important;

                .card{
                    @include flexBox(column, flex-start, flex-start);
                    width: 100%;
    
                    *{
                        margin: 10px 0;
                    }
                }
            }

        }

    }

    .message-container{
        padding-bottom: 37px;
        backdrop-filter: brightness(50%); 
        height: 47.5vh;

    }

    .divisor{
        @include flexBox(row, flex-start, center);
        width: 100%;
        height: 10vh;
        background-color: rgb(12, 20, 12);
        color: #fff;
        padding-left: 80px;
    }

    #Trabalhos{
        @include flexBox(column, center, center);
        width: 100%;
        height: 100vh;
        background: url("../images/casa-1.jpg") $third-color;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        flex-wrap: nowrap;
        transition: all 0.2s ease-in-out !important;

        .image-container{
            @include flexBox(row, center, center);
            width: 100%;
            height: 100%;
            display: flex;
        }

        .work{
            @include flexBox(column, center, center);
            margin-right: 0 -1px;
            width: 34%;
            height: 100%;
            background-color: transparent;
            border: 1px solid #dadada;
            border-collapse: collapse;
            transition: all 0.3s ease;
            border-right: 0px;
            backdrop-filter: brightness(0.28);

            div{
                @include flexBox(column, space-evenly, center);
                width: 430px;
                height: 100%;
                color: #fff;
                font-weight: 300;
            }

            span{
                @include flexBox(column, space-evenly, center);
                display: none;

                Button{
                    background-color: $primary-color;
                    width: 300px;
                    margin-top: 10%;
                
                    &:hover{
                        background-color: $primary-color;
                        font-size: 1.77rem;
                        color: #fff;
                    }
                }

            }
        }

        .work:hover{
            width: 40%;
        }

        .image-container:nth-child(2) .work{
            border-top: none;
        }

        .badInput{
            border: 1px solid red !important;
        }

        @for $i from 1 through 6{
            &.b#{$i}{
                background: url("../images/casa-#{$i}.jpg") $third-color !important;
                background-repeat: no-repeat !important;
                background-size: cover !important;
            }
        }
    }

    #contato{
        @include flexBox(column, flex-start flex-start);
        margin-top: 1px;
        width: 100% !important;
        height: 70vh !important;
        flex-wrap: nowrap;
        padding: 0 3% 0 3%;
        color: transparent;
    
        /*title contact*/
        
        div:nth-child(1){
            @include flexBox(row, space-between, center);
            position: relative;
            width: 106.4%;
            height: 11vh;
            background-color: $third-color;
            padding: 0 3%;
            color: #fff !important;
        }
        
        div h3{
            font-weight: 300;
            letter-spacing: 2px;
            line-height: 5vh;
            font-size: 2rem;
        }
        
        div h2{
            margin-right: 0.468%;
            font-size: 2rem;
            font-weight: 300;
            letter-spacing: 2px;
        }
        
        /*form*/
        
        #formulario{
            @include flexBox(row, center, center);
            margin-top: 3vh;
            width: 100%;
            height: 100%;
            flex-wrap: wrap;
            z-index: 2;
            margin-bottom: 30px;
        }
        
        form{
            @include flexBox(row, flex-start, center);
            width: 100%;
            height: 100%;
            flex-wrap: wrap;
        }
        
        .input-section{
            width: 50%;
        }
        
        .input-section-right{
            @include flexBox(column, flex-start flex-start);
        }
        
        .input-section-right label{
            margin-left: 10%;
            align-self: flex-start;
        }
        
        .input-section label{
            display: block;
            font-size: 1.5rem;
            padding-bottom: 1.3%;
            font-weight: 600;
            color: #000 !important;
        }
        
        input{
            @include flexBox(column, center, center);
            padding-left: 10px;
            margin-left: -2px;
            font-size: 1.5rem;
            background-color: transparent;
            height: 50px;
            width: 80%;
            border-radius: 15px;
            border: 1px solid rgb(113, 113, 113);

            &:focus{
                outline: 1px solid $primary-color;
            }

            &::placeholder{
                font-size: 1.5rem;
            }
        }

        .input-section-message{
            @include flexBox(column, flex-start, flex-start);
            width: 100%;
            height: 20vh;

            textarea{
                width: 95% !important;
                height: 100%;
                margin-bottom: 30px;
            }
        }

        Button{
            width: 95.4%;

        }
        
        
        #message{
            width: 100.2%;
            height: 100%;
            padding: 0.5%;
            resize: none;
            background-color: aliceblue;
        }
    }
}

@media screen and (max-width: 750px){
    #Trabalhos .image-container{
        flex-direction: column;
    }

    #Trabalhos .work{
        width: 100%;
        height: 100%;
    }

    #Trabalhos .work:hover{
        width: 100%;
        height: 200%;
    }
}

@media screen and (max-width: 1025px) {
        
    #contato section h3{
        font-size: 2rem;
    }
    
    #contato section h2{
        letter-spacing: 2px;
    }
}

@media screen and (max-width: 769px) {

    .tittle-contact h2{
        height: 100%;
        padding-top: 4%;
    }

    #form{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .input-section{
        width: 85%;
    }

    .input-section-right label{
        margin-left: 0;
        align-self: flex-start;
    }
    
    .input-section input{
        width: 100%;
        height: 38%;
    }
}

@media screen and (max-width: 671px) {
    #contato button{
        width: 55%;
    }
}