#Home {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100%;
  padding-top: 6vh;
}
#Home .banner {
  width: 100%;
  height: 90vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #1E1E1E;
  background-position: center center;
  background-image: url("../images/banner.jpg");
}
#Home .banner .content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 42.5vh;
  color: rgb(255, 255, 255);
  padding: 30px;
  padding-left: 80px;
  -webkit-backdrop-filter: brightness(50%);
          backdrop-filter: brightness(50%);
  font-weight: 500;
}
#Home .banner .content .tittle {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 100%;
  width: 55%;
}
#Home .banner .content img {
  width: 20%;
  margin-left: 20%;
}
#Home .banner .content h1 {
  font-size: 4rem;
  font-weight: 400;
}
#Home .banner .content span {
  font-size: 2rem;
}
#Home .banner .content .subtittle {
  width: 300px;
}
#Home .banner .content .message {
  font-size: 1.6rem;
  margin-bottom: 50px;
}
#Home .banner .content .genericbutton {
  background-color: #009C52;
  width: 300px;
}
#Home .banner .content .genericbutton:hover {
  background-color: #0D4029;
  color: rgb(192, 192, 192);
}
#Home .banner .content .genericbutton:disabled {
  color: rgba(51, 51, 51, 0.4);
  background-color: rgb(234, 243, 236);
  cursor: not-allowed;
}
#Home .content-cards {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}
#Home .content-cards .content-message {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100%;
  height: 35vh;
  padding: 0px 80px 0 80px;
  color: #fff;
}
#Home .content-cards h1 {
  font-weight: 500;
}
#Home .content-cards h2 {
  font-weight: 400;
}
#Home .content-cards span {
  max-width: 100%;
  margin-top: 30px;
}
#Home .content-cards .cards {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding-left: 80px;
  padding-top: 30px;
  background-color: #1E1E1E;
  color: rgb(255, 255, 255);
}
#Home .content-cards .cards .container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-right: 5%;
  margin-bottom: 30px !important;
}
#Home .content-cards .cards .container .card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}
#Home .content-cards .cards .container .card * {
  margin: 10px 0;
}
#Home .message-container {
  padding-bottom: 37px;
  -webkit-backdrop-filter: brightness(50%);
          backdrop-filter: brightness(50%);
  height: 47.5vh;
}
#Home .divisor {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 10vh;
  background-color: rgb(12, 20, 12);
  color: #fff;
  padding-left: 80px;
}
#Home #Trabalhos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: url("../images/casa-1.jpg") #1E1E1E;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  flex-wrap: nowrap;
  transition: all 0.2s ease-in-out !important;
}
#Home #Trabalhos .image-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
}
#Home #Trabalhos .work {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 0 -1px;
  width: 34%;
  height: 100%;
  background-color: transparent;
  border: 1px solid #dadada;
  border-collapse: collapse;
  transition: all 0.3s ease;
  border-right: 0px;
  -webkit-backdrop-filter: brightness(0.28);
          backdrop-filter: brightness(0.28);
}
#Home #Trabalhos .work div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 430px;
  height: 100%;
  color: #fff;
  font-weight: 300;
}
#Home #Trabalhos .work span {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  display: none;
}
#Home #Trabalhos .work span Button {
  background-color: #009C52;
  width: 300px;
  margin-top: 10%;
}
#Home #Trabalhos .work span Button:hover {
  background-color: #009C52;
  font-size: 1.77rem;
  color: #fff;
}
#Home #Trabalhos .work:hover {
  width: 40%;
}
#Home #Trabalhos .image-container:nth-child(2) .work {
  border-top: none;
}
#Home #Trabalhos .badInput {
  border: 1px solid red !important;
}
#Home #Trabalhos.b1 {
  background: url("../images/casa-1.jpg") #1E1E1E !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}
#Home #Trabalhos.b2 {
  background: url("../images/casa-2.jpg") #1E1E1E !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}
#Home #Trabalhos.b3 {
  background: url("../images/casa-3.jpg") #1E1E1E !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}
#Home #Trabalhos.b4 {
  background: url("../images/casa-4.jpg") #1E1E1E !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}
#Home #Trabalhos.b5 {
  background: url("../images/casa-5.jpg") #1E1E1E !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}
#Home #Trabalhos.b6 {
  background: url("../images/casa-6.jpg") #1E1E1E !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}
#Home #contato {
  display: flex;
  flex-direction: column;
  justify-content: flex-start flex-start;
  align-items: center;
  margin-top: 1px;
  width: 100% !important;
  height: 70vh !important;
  flex-wrap: nowrap;
  padding: 0 3% 0 3%;
  color: transparent;
  /*title contact*/
  /*form*/
}
#Home #contato div:nth-child(1) {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 106.4%;
  height: 11vh;
  background-color: #1E1E1E;
  padding: 0 3%;
  color: #fff !important;
}
#Home #contato div h3 {
  font-weight: 300;
  letter-spacing: 2px;
  line-height: 5vh;
  font-size: 2rem;
}
#Home #contato div h2 {
  margin-right: 0.468%;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 2px;
}
#Home #contato #formulario {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 3vh;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  z-index: 2;
  margin-bottom: 30px;
}
#Home #contato form {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
}
#Home #contato .input-section {
  width: 50%;
}
#Home #contato .input-section-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start flex-start;
  align-items: center;
}
#Home #contato .input-section-right label {
  margin-left: 10%;
  align-self: flex-start;
}
#Home #contato .input-section label {
  display: block;
  font-size: 1.5rem;
  padding-bottom: 1.3%;
  font-weight: 600;
  color: #000 !important;
}
#Home #contato input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  margin-left: -2px;
  font-size: 1.5rem;
  background-color: transparent;
  height: 50px;
  width: 80%;
  border-radius: 15px;
  border: 1px solid rgb(113, 113, 113);
}
#Home #contato input:focus {
  outline: 1px solid #009C52;
}
#Home #contato input::-moz-placeholder {
  font-size: 1.5rem;
}
#Home #contato input::placeholder {
  font-size: 1.5rem;
}
#Home #contato .input-section-message {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 20vh;
}
#Home #contato .input-section-message textarea {
  width: 95% !important;
  height: 100%;
  margin-bottom: 30px;
}
#Home #contato Button {
  width: 95.4%;
}
#Home #contato #message {
  width: 100.2%;
  height: 100%;
  padding: 0.5%;
  resize: none;
  background-color: aliceblue;
}

@media screen and (max-width: 750px) {
  #Trabalhos .image-container {
    flex-direction: column;
  }
  #Trabalhos .work {
    width: 100%;
    height: 100%;
  }
  #Trabalhos .work:hover {
    width: 100%;
    height: 200%;
  }
}
@media screen and (max-width: 1025px) {
  #contato section h3 {
    font-size: 2rem;
  }
  #contato section h2 {
    letter-spacing: 2px;
  }
}
@media screen and (max-width: 769px) {
  .tittle-contact h2 {
    height: 100%;
    padding-top: 4%;
  }
  #form {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .input-section {
    width: 85%;
  }
  .input-section-right label {
    margin-left: 0;
    align-self: flex-start;
  }
  .input-section input {
    width: 100%;
    height: 38%;
  }
}
@media screen and (max-width: 671px) {
  #contato button {
    width: 55%;
  }
}/*# sourceMappingURL=home.css.map */