@import '_mixin.scss';
@import '_colors.scss';

#Home{
    @include flexBox(column, space-evenly, flex-start);
    width: 100%;
    padding-top: 6vh;

    .banner{
        width: 100%;
        height: 45vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-color: $third-color;
        background-position: center center;
        background-image: url('../images/banner.jpg');
        
        .content{
            @include flexBox(row, space-evenly, center);
            width: 100%;
            height: 45vh;
            color: rgb(255, 255, 255);
            padding: 30px;
            backdrop-filter: brightness(35%); 
            font-weight: 500;

            .tittle{
                @include flexBox(column, space-evenly, flex-start);
                height: 100%;
                width: 50%;
            }

            img{
                width: 20%;
            }

            h1{
                font-size: 4rem;
                font-weight: 400;
            }

            span{
                font-size: 2rem;
            }

            .subtittle{
                width: 300px;
            }

            .message{
                font-size: 1.6rem;
            }

            .genericbutton{
                background-color: $primary-color;
                width: 300px;
            
                &:hover{
                    background-color: $second-color;
                    color: rgb(192, 192, 192);
                }
            
                &:disabled{
                    color: rgba(51, 51, 51, 0.4);
                    background-color: rgb(234, 243, 236);
                    cursor: not-allowed;
                }
            }
        }
    } 

    .content-cards{
        @include flexBox(column, space-evenly, flex-start);
        width: 100%;
        min-height: 40vh;

        .content-message{
            @include flexBox(column, space-evenly, flex-start);
            width: 100%;
            padding: 30px 80px 0 80px;
        }

        h1{
            font-weight: 500;
        }

        h2{
            font-weight: 400;
        }
        

        h1:nth-child(1){
            margin-bottom: 30px;
        }

        span{
            max-width: 60%;
            margin-top: 30px;
        }

        .cards{
            @include flexBox(column, flex-start, flex-start);
            width: 100%;
            padding-left: 80px;
            padding-top: 30px;
            background-color: $third-color;
            color: rgb(255, 255, 255);
            height: 100%;

            .container{
                @include flexBox(row, space-evenly, center);
                width: 100%;
                height: 100%;
                padding-right: 5%;

                .card{
                    @include flexBox(column, flex-start, flex-start);
                    width: 100%;
    
                    *{
                        margin: 10px 0;
                    }
                }
            }

        }

    }

    .message-container{
        padding-bottom: 37px;
    }

    .card-container{
        height: 45vh !important;
    }

    .divisor{
        @include flexBox(row, flex-start, center);
        width: 100%;
        height: 10vh;
        background-color: rgb(12, 20, 12);
        color: #fff;
        padding-left: 80px;
    }

    #Trabalhos{
        @include flexBox(column, center, center);
        width: 100%;
        height: 100vh;
        background: url("../images/casa-1.jpg") $third-color;
        background-size: cover !important;
        flex-wrap: nowrap;
        transition: all 0.2s ease-in-out !important;

        .image-container{
            @include flexBox(row, center, center);
            width: 100%;
            height: 100%;
            display: flex;
        }

        .work{
            @include flexBox(column, center, center);
            margin-right: 0 -1px;
            width: 34%;
            height: 100%;
            background-color: transparent;
            border: 1px solid #dadada;
            border-collapse: collapse;
            transition: all 0.3s ease;
            border-right: 0px;
            backdrop-filter: brightness(0.28);

            div{
                @include flexBox(column, space-evenly, center);
                width: 430px;
                height: 100%;
                color: #fff;
                font-weight: 300;
            }

            span{
                @include flexBox(column, space-evenly, center);
                display: none;

                Button{
                    background-color: $primary-color;
                    width: 300px;
                    margin-top: 10%;
                
                    &:hover{
                        background-color: $primary-color;
                        font-size: 1.77rem;
                        color: #fff;
                    }
                }

            }
        }

        .work:hover{
            width: 40%;
        }

        .image-container:nth-child(2) .work{
            border-top: none;
        }

        .badInput{
            border: 1px solid red !important;
        }

        @for $i from 1 through 6{
            &.b#{$i}{
                background: url("../images/casa-#{$i}.jpg") $third-color !important;
            }
        }
    }
}

@media screen and (max-width: 750px){
    #Trabalhos .image-container{
        flex-direction: column;
    }

    #Trabalhos .work{
        width: 100%;
        height: 100%;
    }

    #Trabalhos .work:hover{
        width: 100%;
        height: 200%;
    }
}