@import '_colors.scss';
@import '_mixin.scss';

#Imoveis{
    @include flexBox(column, space-evenly, flex-start);
    width: 100%;
    min-height: 100vh;
    padding: 10vh 80px 0 80px;

    h1{
        margin-bottom: 4vh;
    }

    .imoveis-container{
        @include flexBox(row, space-evenly, flex-start);
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        
        .imoveis{
            @include flexBox(column, flex-start, flex-start);
            width: 350px;
            margin-right: 25px;
            margin-bottom: 25px;
            border-radius: 15px;
            border: 1px solid $text-color;
            padding-bottom: 1%;
            cursor:pointer;
            
            .image-property{
                width: 100%;
                -o-object-fit: cover;
                object-fit: cover;
                border-top-right-radius: 15px;
                border-top-left-radius: 15px;
                margin-bottom: 10px;
                min-height: 348px !important;
            }

            Button{
                width: 80%;
                margin-left: 10%;
                margin-top: 25px;
            }

            span{
                padding: 0 10px;
            }

            span:nth-child(2){
                font-weight: bolder;
            }

            span:nth-child(3){
                color: $text-color;
                min-height: 45px;
            }

            div{
                @include flexBox(row, space-between, center);
                margin-top: 7%;
                border-top: 1px solid $text-color;
                width: 100%;

                span{
                    @include flexBox(column, center, center);
                    height: 30px;
                    margin-top: 1.5%;
                }

                span:nth-child(1){
                    color: $primary-color;
                }

                span:nth-child(2){
                    font-size: 1.2rem;
                }
            }
        }
    }
}