@import '_colors.scss';
@import '_fonts.scss';

*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    &::-moz-selection{
        background-color: $second-color;
        color: #efefef; 
    }

    &::selection{
        background-color: $second-color;
        color: #efefef;
    }
}

html, body, #root{
    height: 100%;
    scroll-behavior: smooth;
}

html{
    font-size: 62.5%;
}

body{
    background-color: #efefef;
    font-family: 'AirbnbCereal_W_Bk', sans-serif;
    font-size: 1.6rem;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

.genericbutton{
    cursor: pointer;
}

Link{
    cursor: pointer;
}


main{
    margin-left: 18.4%;
    padding: 1em 0 0 0;
}

::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-track{
    background-color: $third-color;
    border-radius: 30px;
}

::-webkit-scrollbar-thumb{
    background-color: $primary-color;
    border-radius: 30px;
}

@media screen and (max-width: 768px) {
    main{
        margin-left: 1%;
    }
}

.loader {
    width: 8%;
    --b: 8px; 
    aspect-ratio: 1;
    border-radius: 50%;
    padding: 1px;
    background: conic-gradient(#0000 10%,#ffffff) content-box;
    -webkit-mask:
        repeating-conic-gradient(#0000 0deg,#000 1deg 20deg,#0000 21deg 36deg),
        radial-gradient(farthest-side,#0000 calc(100% - var(--b) - 1px),#000 calc(100% - var(--b)));
    -webkit-mask-composite: destination-in;
            mask-composite: intersect;
    -webkit-animation:l4 1s infinite steps(10);
            animation:l4 1s infinite steps(10);
}
@-webkit-keyframes l4 {to{-webkit-transform: rotate(1turn);transform: rotate(1turn)}}
@keyframes l4 {to{-webkit-transform: rotate(1turn);transform: rotate(1turn)}} 

.loader {
    width: 8%;
    --b: 8px; 
    aspect-ratio: 1;
    border-radius: 50%;
    padding: 1px;
    background: conic-gradient(#0000 10%,#ffffff) content-box;
    -webkit-mask:
        repeating-conic-gradient(#0000 0deg,#000 1deg 20deg,#0000 21deg 36deg),
        radial-gradient(farthest-side,#0000 calc(100% - var(--b) - 1px),#000 calc(100% - var(--b)));
    -webkit-mask-composite: destination-in;
            mask-composite: intersect;
    -webkit-animation:l4 1s infinite steps(10);
            animation:l4 1s infinite steps(10);
}
@-webkit-keyframes l4 {to{-webkit-transform: rotate(1turn);transform: rotate(1turn)}}
@keyframes l4 {to{-webkit-transform: rotate(1turn);transform: rotate(1turn)}}