@import '_mixin.scss';
@import '_colors.scss';
@import '_fonts.scss' ;

#modal{
    @include flexBox(column, center, center);
    height: 100vh !important;
    width: 110% !important;
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    background-color: #00160c84 !important;
    padding-top: 2% !important;
    z-index: 50 !important;
    color: $third-color !important;

    #dialog{
        @include flexBox(column, space-evenly, center);
        width: 50% !important;
        height: 45vh !important;
        margin: -10% 0 0 -5% !important;
        background-color: $primary-color !important;
        border-radius: 10px !important;
        -webkit-box-shadow: 5px 5px 10px $third-color !important;
                box-shadow: 5px 5px 10px $third-color !important;
        z-index: 60 !important;
    }

    img{
        width: 16% !important;
        font-size: 1.6rem !important;
    }

    h1{
        font-size: 5rem !important 
    }

    p{
        font-size: 1.6rem !important;
    }

}