@import '_mixin.scss';
@import '_colors.scss';
@import '_fonts.scss';

#SignUp, #SignIn{
    @include flexBox(column, center, center);
    font-family: AirbnbCereal_W_Bk;
    width: 100%;
    height: 100vh;
    font-size: 1.6rem;
    background-color: $full-color;
    color: $verdinha;
    
    .content{
        @include flexBox(column, space-evenly, center);
        width: 90%;
        max-width: 600px;
        height: 600px;
        background-color: #ffffff;
        border-radius: 25px;
        box-shadow: rgba(0, 0, 0, 0.08) 0px 8px 12px 0px, rgba(0, 0, 0, 0.05) 0px 24px 32px 0px;
        padding: 0 40px;

        img{
            width: 100px;
        }
        
        form{
            @include flexBox(column, space-evenly, center);
            height: 80%;
            width: 80%;

            .first-input-control{
                @include flexBox(row, space-between, center );
                width: 100%;

                input{
                    width: 46.3%
                }
            }

            input{
                @include flexBox(column, center, center);
                padding-left: 10px;
                font-size: 1.5rem;
                background-color: transparent;
                height: 50px;
                width: 50%;
                border-radius: 15px;
                border: 1px solid rgb(113, 113, 113);
                position: relative;
                margin-top: 5px;

                &:focus{
                    outline: 1px solid rgb(69, 69, 69);
                }

                &::placeholder{
                    font-size: 1.5rem;
                }

                &:nth-child(5), &:nth-child(4){
                    width: 100%;
                }
            }

            h1{
                color: $verdinha;
                font-weight:  500;
                text-align: left;
                width: 100%;
                margin-top: 10px;
            }

            h3{
                color: $verdinha;
                font-weight: 400;
                text-align: left;
                width: 100%;
                margin: 0 0 10px 0;
            }

            .sign-message-content{
                color: $text-color;
                margin: 10px 0 10px 0;
                font-size: 1.4rem;
            }

            .react-link-text{
                color: $text-color;
                font-size: 1.5rem;
                margin: 10px 0 10px 0;
            }

            a{
                text-decoration: none;
                color: $primary-color;
                font-weight: 500;
            }

            Button:nth-child(7){
                svg{
                    height: 35px !important;
                    margin-bottom: -12px;
                    clip-path: circle(50%);
                    transition: all 0.2s ease-in-out;
                }

                &:hover{
                    color: $third-color;
                    font-size: 1.76rem;

                    svg{
                        filter: brightness(75%);
                    }
                }
            }

        }
    }
}

#SignIn{
    input{
        width: 100% !important;
    }

    .forgot-password-link{
        color: $text-color !important;
        font-size: 1.5rem !important; 
        margin-left: -73.4%;

        &:hover{
            color: $primary-color !important;
        }
    }
}