#whatsapp-button{
    position: fixed;
    bottom: 18px;
    left: 18px;

    svg{
        transition: all 0.3s ease-in-out;
    }

    &:hover svg{
        width: 55px;
        height: 55px;
        bottom: 13px;
        left: 13px;
    }
}